.cell {
    background-color: lightgray;
    width: 20px;
    height: 20px;
    text-align: center
}

.lost {
    background-color: red;
    background-image: url(bomb.svg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 75%
}

.surrounded-by-1 {
    color: blue
}
.surrounded-by-2 {
    color: green
}
.surrounded-by-3 {
    color: red
}
.surrounded-by-4 {
    color: darkblue
}
.surrounded-by-5 {
    color: maroon
}
.surrounded-by-6 {
    color: green
}
.surrounded-by-7 {
    color: red
}
.surrounded-by-8 {
    color: darkblue
}