.cell {
    background-color: lightgray;
    width: 20px;
    height: 20px;
}

.lost {
    background-color: red;
    background-image: url(bomb.svg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 75%
}