<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://unpkg.com/vue"></script>
        <script>
            Vue.component('grid', {
                props: ['size'],
                template: `
                    <div>
                        <table>
                            <tbody>
                                <tr v-for="line in size">
                                    <td v-for="column in size"><span v-bind:id="'cell-'+line+'x'+column"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                `
            })
        </script>
        <style>
            td {
                background-color: lightgray;
                width: 20px;
                height: 20px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <label id="title">{{title}}</label>
            <grid v-bind:size="8"></grid>
        </div>

        <script>            
            new Vue({
                el: '#app',
                data: {
                    title: 'Minesweeper'
                }
            })    
        </script>
    </body>
</html>