<html>
    <head>
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="app">
            <label id="title">[[ message ]]</label>
            <div>
                <table>
                    <tbody>
                        <tr v-for="line in 8">
                            <td v-for="column in 8"><span v-bind:id="'cell-'+line+'x'+column">[cell-[line]]x[[column]]</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            new Vue({
                el: '#app',
                delimiters: ["[[", "]]"],
                data: {
                    message: 'Minesweeper'
                }
            })    
        </script>
    </body>
</html>