<html>
    <head>
        <meta charset="utf-8"/>
        <script src="https://unpkg.com/vue"></script>
        
        <script src="{{ url_for('static', filename='grid.js') }}"></script>              
        <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">
    </head>
    <body>
        <div id="app">
            <label id="title">[[title]]</label>
            <grid v-bind:size="8"></grid>
        </div>

        <script>            
            new Vue({
                el: '#app',
                delimiters: [ '[[', ']]' ],
                data: {
                    title: 'Minesweeper'
                }
            })    
        </script>
    </body>
</html>